it worksssss

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Sobre nosotros</title>



</head>
<body>
  <h1>¿Qué es FlatMate?</h1>
  <br>
    <p>
      FlatMate es una plataforma de confianza de alojamiento para todo tipo de personas a las cuales queremos facilitarles la busqueda a la hora de alquilar un apartamento o una habitación. Queremos que los estudiantes y culquier otra persona se sientan seguros al momento de realizar la reserva. Como así también, ofrecemos un excelente servicio. Esta es nuestra forma de poner un mercado anticuado patas arriba. Es nuestra forma de cambiar el mundo.



      Creemos que no hay nada en el mundo que nos dé más vida que una experiencia nueva, que nada como una aventura increíble nos ofrece momentos que duran para siempre y que la tecnología puede ayudarnos a formar un mundo sin fronteras.



      FlatMate es una inmobiliaria online para reservar alojamiento para cualquier persona con miles de propiedades verificadas.</p>
      <br>
</body>
</html> -->
