<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sobre nosotros</title>


</head>
<body>

  <div class="title">
          <h1>FLATMATE</h1></div>
      <br>
      <div class="c1">
      <img src="./assets/images/FLATMATEE.jpg" width="50%" > <br> <br>
      </div>


  <div class="c2">
  <h1>¿Qué es FlatMate?</h1></div>
  <br>

      <div class="c3">
      <p>
      FlatMate es una plataforma de búsqueda de alojamiento para todo tipo de personas, a las cuales queremos facilitarles el proceso de alquiler de un apartamento o una habitación con total confianza. Queremos que cualquier persona se sienta segura al momento de realizar una reserva,  ofreciendo un excelente servicio. Esta es nuestra manera de revolucionar un sector anticuado. Esta es nuestra forma de cambiar el mundo.
      </p>
      <p>
      Creemos que no hay nada que nos dé más vida que una experiencia nueva, y que la tecnología puede ayudarnos a crear un mundo sin fronteras.
    </p>
      <p>
      FlatMate es una inmobiliaria online donde puedes reservar alojamiento para cualquier persona, con miles de propiedades verificadas.
    </p>


      </div>
    <br>


      <div class="c2">
      <h1>¿Quienes Somos?</h1>
      </div>
    </body>
</html>
