<o-form service="room" entity="room" keys="room_id" header-actions="R;I;U;D"  show-header-navigation="no">
  <o-integer-input oHidden attr="room_id" sql-type="INTEGER"></o-integer-input>
  <o-row>
    <o-column>
      <o-image attr="image" required="yes"></o-image>
      </o-column>


      <o-column title="DETALLE DE LA HABITACIÓN SELECCIONADA" fxFlex appearance='outline'> 
      <o-row>
              <p>
              </p>
              <p>
              </p>

      </o-row>

      <!-- el padding es para la separacion entre los campos de la tabla -->
      <o-row>
        <o-integer-input class="input-padding" attr="price" fxFlex="30" required="yes"></o-integer-input>   
        <o-text-input attr="address" fxFlex="70" required="yes"></o-text-input>
      </o-row>

     
      <o-row>
        <o-textarea-input attr="description" fxFlex></o-textarea-input>
       </o-row>

       
  </o-column>

