Body
{background-color: rgba(238, 185, 149, 0.952)}
div
{background-color: rgb(255, 255, 255);}
    .H2{
        Color: rgb(14, 85, 238);
        size: 60px;
        background-color: rgb(255, 250, 240);
    }

    .c1{
        text-align: center;}

    .c2 {
            color: rgb(3, 3, 3);
            size: 20px;
            text-align: justify;
        }
     .c3{
            color: black;
            size: 40;
            text-align: center;
     }
        

     .espaciado{
         padding: 30px  
     
     }