
<body>
<h1>RENTALS DBEAVER</h1>

    <div fxFlex>
      <o-table fxFlex attr="RentalsTable" service="rentals" entity="rental" keys="rentals_id"
      columns="rentals_id;flat_id;room_id;availability"
      visible-columns="rentals_id;flat_id;room_id;availability" query-rows="20">
      <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="yes"
      empty-image="assets/images/no-image.png" image-type="base64"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
      <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
      </o-table>
    </div>

    <p></p>
<h1>ROOM DBEAVER</h1>
  <p></p>

    <div fxFlex>
      <o-table fxFlex attr="RoomTable" service="room" entity="room" keys="room_id"
      columns="room_id;price;address;description"
      visible-columns="room_id;price:address;description" query-rows="20">
      <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="yes"
      empty-image="assets/images/no-image.png" image-type="base64"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
      <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
      </o-table>
    </div>

    <hr>
    <hr>
    <hr>


<h1>RENTALS DBEAVER</h1>
<br>
<br>
<br>
    <div fxFlex>
      <o-table fxFlex attr="FlatTable" service="flat" entity="flat" keys="flat_id"
      columns="flat_id;price;address;description"
      visible-columns="flat_id;price:address;description" query-rows="20">
      <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="yes"
      empty-image="assets/images/no-image.png" image-type="base64"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
      <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
      </o-table>
    </div>
</body>
