<!--o-form permite crear, eliminar, actualizar y buscar datos-->

<!-- <o-form editable-detail="no" show-header="no" layout-align="start stretch" class="employees-filters-form" fxFill>

  <div fxLayout="column" fxFlex="1 1 auto">
    <o-grid #grid attr="rentals" service="rentals" entity="rental"

      columns="RENTAL_ID;FLAT_ID;ROOM_ID;ADRESS;DESCRIPTION;EMAIL_LANDLORD;BENEFITS_DESCRIPTION"

      quick-filter-columns="PRICE;ADRESS;DESCRIPTION;EMAIL_LANDLORD; "

      keys="RENTAL_ID" sort-columns="PRICE" pageable="yes" query-rows="16" fixed-header="yes"

      refresh-button="no" gutter-size="18px" detail-mode="none">

      <o-grid-item *ngFor="let item of grid.dataArray">
        <div (click)="openDetail(item)" fxLayout="column" fxLayoutAlign="space-evenly center"
          class="rental-item mat-elevation-z1">
          <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
            <mat-divider fxFlex></mat-divider>

              <div class="image">
                <img [src]="getImageSrc(item.RENTALPHOTO)">
              </div>

            <mat-divider fxFlex></mat-divider>

          </div>
      </o-grid-item>

    </o-grid>

  </div>

</o-form> -->

<!-- <div fxFlex>
  <o-table fxFlex attr="AlquileresTable" service="rentals" entity="alquiler" keys="alquiler_id"
  columns="alquiler_id;piso_id;habitacion_id;precio;direccion"
  visible-columns="alquiler_id;piso_id;habitacion_id;precio;direccion" query-rows="20">
  <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="yes"
  empty-image="assets/images/no-image.png" image-type="base64"></o-table-column>
  <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
  <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
  </o-table>
</div> -->
it works
