<body>
  <div fxFlex>
    <o-grid fxFlex #flatGrid attr="roomGrid" service="room" entity="room" keys="room_id"
      columns="room_id;price;address;description;image"  quick-filter-columns="room_id;price;address;description;image" 
      show-page-size="yes" refresh-button="yes" page-size-options="5;10;12" cols="3"  [ngStyle]="{'height':'100px'}">
      <o-grid-item *ngFor="let item of flatGrid.dataArray" >
        <o-column layout-padding class="container-item">

          <img [src]="getImageSrc(item.image)"  style="margin-top:8px" width="350" height="250" >

          <!-- <h4> {{item.price}} </h4> -->

          <div class="price">
            <mat-icon>euro</mat-icon><span>{{ item.price }} </span>
         </div>

          <div class="address">
            <mat-icon>domain</mat-icon><span>{{ item.address }}</span>
          </div>

          <div> {{item.description}}</div>
        </o-column>
      </o-grid-item>
    </o-grid>
  </div>
</body>
